.tic-tac-too{
    width:800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    border: 2px solid black;
    background-color: dodgerblue;
}
.cell{
    /* background-color: blue; */
    height: 200px;
    width: 200px;
    border: 2px solid black;
    margin:auto;
    background-color:yellow;
    cursor: pointer;
    font-size:100px;
}
.container
{
    display: flex;
    justify-content: center;
    align-items:center;
}
.textbox{
    width: 193px;
    height: 195px;
    font-size:50px;
    text-align: center;
    background: yellow;

}
.Reset{
    cursor: pointer;
}
.Symbol{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    width: 300px;
    position: absolute;
    left:10px;
    top:10px;
    height: 400px;
    font-size:30px;
    background-color: dodgerblue;
    color: white;
    

}
#symbol1{
    text-align: center;
    height: 30px;
    width: 100px;
    font-size:2rem;
    background: yellow;
    color: #000;
}
#symbol2{
    text-align: center;
    height: 30px;
    background: yellow;
    width: 100px;
    font-size:2rem;
    color:#000;
}
#Turn{
    color: white;
    width: 200px;
    height: 500px;
    background-color:crimson;
    text-align: center;
    margin-left: 49.6%;
    margin-top:5px;

}
